<label for="filter-data"> Filter</label>
<input [(ngModel)]="filter" type="text" id="filter-data">
<table *ngIf="http.all_user">
  <thead>
    <tr class="table table-striped">
      <th scope="col">ID</th>
      <th scope="col">User</th>
      <th scope="col">Role</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of http.all_user | filter: filter :'user'">
      <th>{{item._id}}</th>
      <td>{{item.user}}</td>
      <td>{{item.role}}</td>
      <td>{{item.email}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]="[item._id]">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(item._id!)">Delete</button>
      </td>
    </tr>
  </tbody>

</table>
